* {
    padding: 0;
    margin: 0;

}

.about {
    width: 100%;
    padding: 78px 0px;
    background-image: linear-gradient(#da56b7, #F6F0C4);
}

.about img {
    height: auto;
    width: 300px;
    border-radius: 210px;
}

.about-text {
    width: 500px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text h5 > span {
    color: #f9004d;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}



@media (max-width: 1440px){
    section {
        padding: 80px 3%;
        transition: .2s;
    }
    
    .about-text h5 {
        font-size: 30px;
    }

    .about-text h1 {
        font-size: 50px;
        text-align: center;
    }

    
    .about-text p {
        margin-bottom: 3rem;
        align-items: center;
    }
}

@media (max-width: 1000px){
    .about {
        grid-gap: 2rem;
        transition: .3s;
    }
}

@media (max-width: 850px){
    .about {
        grid-template-columns: 1fr;
    }
    .about-text {
        order: 2;
    }
    .about img{
        max-width: 50%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .main {
        flex-direction: column;
    }
}