
.food p {
    font-family: 'Tangerine', cursive;
    text-align: center;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 700;
    color: #d82c82;
    margin-bottom: 40px;

}

.food h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 70px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}


.bread-content {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    
}

/*Cupdakes*/

.bread1-container {
    position: relative;
    width: 300px;
}

.bread1 {
    display: block;
    width: 100%;
    height: 100%;
}
 

/*Salted Caramel Brownies*/

.bread2-container {

    width: 300px;
}

.bread2 {
    display: block;
    width: 100%;
    height: 100%;
}



/*Waffles pancakes*/

.bread3-container {
    width: 300px;
}

.bread3 {
    display: block;
    width: 100%;
    height: 100%;
}


/*Waffles pancakes*/

.bread4-container {
    width: 300px;
}

.bread4 {
    display: block;
    display: block;
    width: 100%;
    height: 100%;
}
