.login-col{
    background-color: #97387a;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.login-col:hover {
    scale: 1.05;
    color: #fff;
}

.login-col:active {
    scale: 0.95;
}

